import * as React from 'react';

import styles from './styles.css';

const {{{safeName}}} = () => {

	return (
		<div className="{{{directory}}}">
		<p>directory: {{{directory}}}</p>
			<p>name: {{{name}}}</p>
			<p>extension: {{{extension}}}</p>
			<p>camelCase: {{{camelCase}}}</p>
			<p>constantCase: {{{constantCase}}}</p>
			<p>paramCase: {{{paramCase}}}</p>
			<p>pascalCase: {{{pascalCase}}}</p>
			<p>snakeCase: {{{snakeCase}}}</p>
		</div>
	);
};

export default {{{safeName}}};