import * as React from 'react';

import styles from './styles.css';

const {{{safeName}}} = () => {

	return (
		<div className="{{{directory}}}">
			<p>name: {{{name}}}</p>
			<p>directory: {{{directory}}}</p>
			<p>safeName: {{{safeName}}}</p>
		</div>
	);
};

export default {{{safeName}}};