import * as React from 'react';

import styles from './styles.css';

const {{{name.pascalCase}}} = () => {

	return (
		<div className="{{{directory.paramCase}}}">

			<p>directory.unformatted: {{{directory.unformatted}}}</p>
			<p>directory.camelCase: {{{directory.camelCase}}}</p>
			<p>directory.constantCase: {{{directory.constantCase}}}</p>
			<p>directory.paramCase: {{{directory.paramCase}}}</p>
			<p>directory.pascalCase: {{{directory.pascalCase}}}</p>
			<p>directory.snakeCase: {{{directory.snakeCase}}}</p>

			<p>name.unformatted: {{{name.unformatted}}}</p>
			<p>name.formatted: {{{name.formatted}}}</p>
			<p>name.camelCase: {{{name.camelCase}}}</p>
			<p>name.constantCase: {{{name.constantCase}}}</p>
			<p>name.paramCase: {{{name.paramCase}}}</p>
			<p>name.pascalCase: {{{name.pascalCase}}}</p>
			<p>name.snakeCase: {{{name.snakeCase}}}</p>
			<p>name.noCase: {{{name.noCase}}}</p>
			<p>name.noFormat: {{{name.noFormat}}}</p>

			<p>extension: {{{extension}}}</p>

		</div>
	);
};

export default {{{name.pascalCase}}};